.navBar{
    width: 100%;
    display: flex;
    height: 3.5rem;
    align-content: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    background-color: var(--brand-200);
    border-bottom: 1px solid var(--campus-600);
    color: var(--campus-600);
}

.drawerContainer{
    position: fixed;
    top: 3.5rem;
    right: 0;
    width: 100%;
    height: calc(100% - 3.5rem);
    background-color: var(--gray-200);

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem 1.2rem;
}

.drawerOpen{
    transform: translateX(0%);
}

.drawerContainer a{
    font-weight: 700;
}

.dropdownParent{
    position: relative;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid var(--campus-600);
    background-color: #fff;
    width: 30vw;
    padding: 1rem 1rem;
    visibility: hidden;
    white-space: nowrap;
    font-weight: 600;
}

.dropdownOpen{
    visibility: visible;
}

.iconWithText{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}
