.floatingBox {
    position: relative;
    display: flex;
    flex-direction: column;
}

.floatingInput{
    padding: 0.5rem 1rem;
    text-overflow: ellipsis;
    border: 1px solid var(--gray-500);
}

.floatingLabel{
    padding: 0 0.2rem;
    position: absolute;
    left: 1rem;
    top:50%;
    transform: translateY(-50%);

    font-size: 1rem;
    color: var(--gray-500);
    transition: all 0.2s ease-in-out;
    z-index: 1;
    pointer-events: none;
}

.floatingInput:not(:placeholder-shown)  ~ .floatingLabel,
.floatingInput:focus ~ .floatingLabel{
    top: -0.6rem;
    left: 0.5rem;

    transform: none;
    background: #fff;
}