.tableWrapper{
    width: 100%;
    padding: 1rem 3rem;
    border: 1px solid var(--gray-300);
    border-radius: 3rem;
    margin: 1rem auto;
    text-align: center;
}

@media (min-width: 768px) {
    .tableWrapper{
        width: 80%;
    }
}

.tableWrapper th {
    padding: 0.5rem 0;
}

.tableWrapper td{
    padding: 0.75rem 0;
}

.tableWrapper tr{
    border-bottom: 1px solid var(--gray-300);
}

.tableWrapper tr:hover{
    background-color: var(--gray-100);
}

.tableWrapper thead th{
    background-color: var(--brand-400);
    color: white;
}

.tableWrapper thead th:nth-child(1),
.tableWrapper tbody td:nth-child(1){
    width: 10%;
    min-width: 80px;
}

.tableWrapper thead th:nth-child(2),
.tableWrapper tbody td:nth-child(2){
    padding-left: 2rem;
    text-align: left;
    width: 70%;
}

.tableWrapper tbody td:nth-child(2) {
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: underline;
}

.tableWrapper thead th:nth-child(3),
.tableWrapper tbody td:nth-child(3){
    width: 10%;
    min-width: 80px;
}

.tableWrapper thead th:nth-child(4),
.tableWrapper tbody td:nth-child(4){
    width: 10%;
    min-width: 80px;
}