spring:
  application:
    name: registration
  datasource:
    url: jdbc:mariadb://localhost:3306/lecture_db
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
